h3{
    font-size: 1.5rem;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.card 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 0.5px;
    border-style: solid;
    background-color: #0000ea;
    color: #ffff;
}

.card p
{
    font-size: 1.4rem;
    font-weight: bold;
}

.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 0.5px;
    border-style: solid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: linear-gradient(135deg, #ff7109 0, #ff5d0f 16.67%, #ff4310 33.33%, #f81010 50%, #ed0012 66.67%, #e30017 83.33%, #dc001d 100%);
    color: #fff;
}

.card2 li{
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.keyword {
    display: inline-block;
    padding:0.5rem 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1.5rem;
    color:#fff;
    background-image: linear-gradient(135deg, #ffa83e 0, #ff9936 16.67%, #fd872c 33.33%, #f37120 50%, #e95a16 66.67%, #e14313 83.33%, #dc2a15 100%);
    box-shadow: 1px 1px 5px #333;
}